modules = ["bash", "web", "python-3.11", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["ffmpeg-full", "libsndfile", "libxcrypt", "pkg-config", "redis", "xsimd"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "redis"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "backend"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "dashboard"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "worker"

[[workflows.workflow]]
name = "redis"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./run_redis.sh"

[[workflows.workflow]]
name = "backend"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "BACKEND_PORT=8000 python run_backend.py"
waitForPort = 8000

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow]]
name = "dashboard"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=5000 python dashboard/app.py 50f5315356317fa1a803bc5a754e4899d3275b711590f5baa7db35947f04bf70"
waitForPort = 5000

[[workflows.workflow]]
name = "worker"
author = "agent"

[workflows.workflow.metadata]
outputType = "console"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python run_worker.py"

[[ports]]
localPort = 5000
externalPort = 80

[[ports]]
localPort = 6000
externalPort = 6000

[[ports]]
localPort = 6379
externalPort = 3000

[[ports]]
localPort = 8000
externalPort = 8000

[[ports]]
localPort = 8050
externalPort = 3002

[deployment]
deploymentTarget = "autoscale"
run = ["python", "start_app.py"]
